* {
    font-family: 'Architects Daughter', cursive;
	line-height: 1.5;
}

.error {
    color: #EB6E44;
}

body {
    background-color: #8DCDC1;
}

input {
    font-size: 15px;
    border-radius: 5px;
    margin: 15px;
}

form {
    text-align:center;
}

h1 {
    margin-left: 25px;
}

#top-left {
    width: 250px;
    height: 500px;
    background-color: #D3E397;
    transform: rotate(45deg);
    position: fixed;
    z-index: -1;
    top: -175px;
    left: -50px;
}

p{
    display: -webkit-inline-box;
    background-color: cornsilk;
    padding: 8px;
    margin: 15px;
    border: 1px solid black;
}

#bottom-right {
    width: 250px;
    height: 500px;
    background-color: #FFF5C3;
    transform: rotate(45deg);
    position: fixed;
    z-index: -1;
    bottom: -175px;
    right: -50px;
}

nav {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    position: relative;
}

.title {
    position: relative;
    top: 20px;
}

.nav-link {
    position: absolute;
    padding-right: 60px;
    top: 9px;
    right: 0;
}

.welcome {
    padding-left: 25px;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2 {
    font-size: 30px;
}

a {
    color: #0061ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #1200db;
}

.nav-link a::before {
    content: "- ";
}

#no-dash::before {
    content: "";
}

li {
    padding-left: 20px;
    padding-right: 20px;
    margin: 25px;
    list-style: none;
    
}

.the-button {
  background-color: #0061ff;
  color: white;
  border-radius: 8px;
  border: 1px solid teal;
  box-shadow: 0 9px #999;
  cursor: pointer;
  font-size: 17px;
}

.the-button:hover {
    background-color: #008CBA;
}

.the-button:active {
    background-color: #008CBA;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.center {
    position: absolute; /* or absolute */
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-user {
    padding: 10px;
}

#thought-box {
    height: 24px;
    width: 41%;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
}

.fancy-button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: black;
    border: 2px solid #008CBA;
    background-color: #C2F0FF;
    padding: 7px;
   font-size: 18px;
   border-radius: 7px;
}

.fancy-button:hover {
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}

.trash:hover{
    color: #008CBA;
    cursor: pointer;
}

.fa-heart{
    color: red;
}

/* For tablets: */
@media only screen and (min-width: 600px) { 
    h2 {
        font-size: 35px;
    }
    h1{
       margin-left: 35px; 
    }
    .welcome {
        padding-left: 35px;
    }
}

/* For desktop: */
@media only screen and (min-width: 800px) {
    h2 {
        font-size: 45px;
    }
     h1{
       margin-left: 55px; 
    }
    .welcome {
        padding-left: 55px;
    }
}